<div>
  <h3>
    <span class="lead font-italic" id="funQuote"></span>
  </h3>
  <h3 id="author"></h3>

  {{!-- job cards section --}}
  <section id="cards" class="cards">

    {{#each jobs as |job|}}

    <div class="card border-success mb-3" style="max-width: 20rem;">
      <div id="card-name" ++ class="card-header">
        <h3>{{job.company}}</h3>
        <div class="iconsDiv">
          <button id="editBtn" onclick="getJobForm('{{job.id}}')">
            <img src="/assets/images/pencil_icon.png" align="center" width="20px" height="20px" alt="edit icon">
          </button>
          <button id="deleteBtn" onclick="deleteCard('{{{job.id}}}')">
            <img src="/assets/images/bin_icon.png" align="center" width="15px" height="22px" alt="delete icon">
          </button>
        </div>
      </div>
      <div id="company1" class="card-body">
        <h4>Job Description:</h4>
        <h6 class="secondaryTitles">Position:
          <span>{{job.position}}</span>
        </h6>
        <h6 class="secondaryTitles">Job post:
          <span>
            <a href="{{job.link}}" target="_blank">link</a>
          </span>
        </h6>
        <h6 class="secondaryTitles">Listed salary:
          <span>
            {{#moneyFormat job.salary}}{{/moneyFormat}}
          </span>
        </h6>
        {{#if haveApplied }}
        <h6>
          <label id="checkbox" for="checkbox">
            Applied to job?
            <input type="checkbox" id="appliedTo" checked disabled="true" class="card-title"></input>
          </label>
        </h6>
        {{/if}}
        {{#unless haveApplied}}
        <h6>
          <label for="checkbox">
            Applied to job?
            <input type="checkbox" id="appliedTo" disabled="true" class="card-title"></input>
          </label>
        </h6>
        {{/unless}}

        {{#if feedback }}
        <h6>
          <label for="checkbox">
            Any feedback?
            <input type="checkbox" id="feedback" checked disabled="true" class="card-title"></input>
          </label>
        </h6>

        {{/if}}
        {{#unless feedback}}
        <h6>
          <label for="checkbox">
            Any feedback?
            <input type="checkbox" id="feedback" disabled="true" class="card-title"></input>
          </label>
        </h6>
        {{/unless}}
        <div>
          <h4>Recruiter:</h4>
          <h6 class="secondaryTitles">
            Name:
            <span>
              {{job.recruiterName}}
            </span>
          </h6>

          <h6 class="secondaryTitles">
            Phone:
            <span class="recruiter-phone">
              {{job.recruiterPhone}}
            </span>
          </h6>
          <h6 class="secondaryTitles">
            Email:
            <span>
              {{job.recruiterEmail}}
            </span>
          </h6>
        </div>

        <div>
          <h4>Interview:</h4>
          <h6 class="secondaryTitles">
            Screening interview: <br>
            <span>
              {{#dateFormat screeningInterview}} {{/dateFormat}}
            </span>
          </h6>
          <h6 class="secondaryTitles">
            Technical interview: <br>
            <span>
              {{#dateFormat technicalInterview}} {{/dateFormat}}
            </span>
          </h6>
          <h6 class="secondaryTitles">
            Final interview: <br>
            <span>
              {{#dateFormat finalInterview}} {{/dateFormat}}
            </span>
          </h6>
        </div>
        <div>
          <h4>
            Job Offer:
          </h4>
          <h6 class="secondaryTitles">
            Benefits package: <br>
            <span>
              {{#formatStringData jobOffer}}{{/formatStringData}}
            </span>
          </h6>
        </div>
      </div>
    </div>
    {{/each}}
  </section>
</div>

<script src="assets/js/cards.js"></script>
<script src="assets/js/common/cardsUtil.js"></script>
<script src="assets/js/delete.js"></script>
<script src="assets/js/motivationalQ.js"></script>